# Folder view configuration files
.DS_Store
Desktop.ini

# Dataset Directory
__pycache__/**
.ipynb_checkpoints/**
Immunofluorescence images/**
Blob detected/**
Dataset/**
experiments/**
Copy of 650411_ฐานข้อมูลเครือข่ายนักประเมิน_จากลิ้ง.xlsx
API_KEY.json
db_pass.json

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.env

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache